.security-btn {
    position: relative;
    right: 0;
    width: 95px;
    height: 43px;
    color: black;
    border: 1px solid black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 43px;
    background: white;
    font-weight:bold;
    margin-left: 1px;
}

.login-status-header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.login-status-user-info{
    line-height: 43px;
    border: 1px;
    padding: 0 17px;
    color: white;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all 5.s ease;
    transition: all 5.s ease;

}