<div class="login-status-header">
    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info mr-10">
        Welcome back {{ userFullName }}
    </div>

    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">LogIn</button>
    <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">LogOut</button>
    <button *ngIf="isAuthenticated" routerLink="/members" class="security-btn ml-3">Member</button>
    <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn ml-3">Orders</button>
    
</div>

