<table class="table">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td class="align-middle">
                <img src="{{tempProduct.imageUrl}}" height="50"/>
            </td>
            <td> {{ tempProduct.name}}</td>
            <td>{{ tempProduct.unitPrice | currency:'USD'}}</td>
            <td>{{ tempProduct.unitsInStock}}</td>
        </tr>
    </tbody>
</table>

